.Rectangle {
    width: 720px;
    height: 1450px;
    padding: 623px 150px 622px 201px;
    background-image: linear-gradient(26deg, #ffbc32 0%, #ff1e64 0%, #fcc44b);
    img{
    position: absolute;
    margin: auto;
    top: 40%;
    width: 50%;
    left: 30%;
    }
  }