.my-custom-menu {
    --width: 500px;
  }
  ion-content {
    --background-color: #333;
    --ion-color-base : #eee;
  }
  ion-title{
  text-align: start;
  /* position: absolute; */
  /* left: 0px; */
  padding: 0px 60px 0px;
  }
  ion-menu-button{
    color: white;
  }
  .container{
    height: 600px;
  margin: 0 0 3260px;
 
  object-fit: contain;
  background: linear-gradient(90deg, rgba(255,33,100,1) 40%, rgba(253,164,84,1) 120%);
  }
  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  .header-container{
    position: fixed;
    padding: 20px 40px;
    width: 100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .toggle-menu{
    height: 37px;
    width: 25px;
  }
  .notifications{
    width: 26px;
    height: 38px;
  }
.title{
  position: absolute;
    margin-left: 60px;
    color: #fff;
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 4px;
}
.slider{
  padding-top: 50px;
}
ion-slides {
  --bullet-background: #eee;
  --bullet-background-active: #000;

  ion-slide {
    margin: 50px;
    height: 23vh ;
    width: 94% !important;
    margin-left: -8%;
    object-fit: contain;
    border-radius: 20px;
    background-color: #fff;
    &:nth-child(1) {
      width: 90% !important;
      margin-left: 3%;
    }

    &:nth-child(2) {
      // background-color: lightgreen;
    }

    &:nth-child(3) {
      // background-color: lightblue;
    }
  }
}
ion-grid{
  display: flex;
  align-self: flex-start;
  padding: 0px;
}
.date{
  background-color: #1d9bff;
  height: 50px;
  width: 106px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  display: flex;
    /* text-align: left; */
    justify-content: center;
    align-items: center;
}
ion-col{
  padding-left: 20px;
  padding-top: 0px;
}
.left-banner{
  display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: left;
}
.place{
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
}
.card-image{
  height: 255px;
    width: 211px;
    /* margin-bottom: -23px; */
    position: relative;
    bottom: 45px;
}
.upcoming-event{
  background-color: #fff;
  height: 480px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
}
.button{
  border-radius: 5px;
  background-color: #ccc;
  height: 8px;
  margin: auto;
  width: 35px;
}
.upcoming-event-title{
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #333;
}
.upcoming-event-banner{
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  height: 390px;
  background-size: cover;
  background-image: url('../../../assets/images/bg-upcoming-event.png');
  border-radius: 20px;
}
.divider{
  background-color: #eee;
  height: 20px;
}

.black-text{
  --color: black;
}
ion-card{


  border-radius: 15px;
  --background: #fff;

  ion-card-title{

      display: flex;
      flex-direction: row;
      place-items: center;
    
      
      h3{
        font-weight: 600;
        margin-left: 10px;
    
      }
      img{
        width: 19%;
        height: auto;
    }
  }
  ion-card-subtitle{
    p{
      
    }
  }

  ion-card-content{
    .join-event{
      
      display: flex;
      flex-direction: row;
      place-items: center;

      .img-group{
      display: flex;
      flex-direction: row;
      place-items: center;
        img{
          width: 26%;
          margin-right: 10px;
          margin-left: 10px;
          border-radius: 20px;
      
        }
        h2{
          font-weight: 600;
          font-size: 20px;
          color:black;
        }
      }

      

      .share{
        align-items: center;
        display: flex;
        flex-direction: row;
        /* float: right; */
        justify-content: flex-end;
        img{
          width: 9%;
          margin-right: 15px;
        }
        a{
          background-color: #e91e63;
          background-image: linear-gradient(to right, #e91e63, #ffff00ad);
          color: white;
          text-decoration: none;
          padding: 10px 40px 10px 40px;
          border-radius: 20px;

        }
      }
    }
  }




  


}

 //Trending start
 .trending{
  margin-top: 20% !important;

  ion-slides{
 
     ion-slide{
      height: auto !important;
      background-color: rgba(0, 0, 0, 0);
      background-color: none;
      margin: 0px !important;
      width: 70% !important;

      &:first-child{
        width: 70% !important;
      }
   
  
      ion-card{
        box-shadow: none;
        img{
          width: 270px;
        }
        ion-card-title{
          font-size: 20px;
          font-weight: 600;
        }
        ion-card-subtitle{
          text-align: left;
          font-size: 17px;
        }
        a{
          background-color: #e91e63;
          background-image: linear-gradient(to right, #e91e63, #ffff00ad);
          color: white;
          text-decoration: none;
          padding: 10px 30px 10px 30px;
          border-radius: 20px;
          position: absolute;
          margin-top: -39px;

        }
        ion-card-header{
    
          border-bottom: 1px solid grey;
          border-left:  1px solid grey;
          border-right:  1px solid grey;

        }
      }
    }
  }


}
//Trending end


//post start
.post{
  .post-header{
        align-items: center;
        display: flex;
        flex-direction: row;
        /* float: right; */
       
    
    img{
      width: 10%;
      border-radius: 100%;
      margin-right: 10px;
    }
    h2{
      font-size: 20px;
      font-weight:600;
      color: #000;
    }
   
  }

  ion-card{
    background-color: transparent;
    box-shadow: none;
    width: 100%;
   
      img:nth-last-child(1){
        width: 100% !important;
      }

      ion-card-content{
        
          font-size: 16px;
        
      }
   
   
  }

}
//post end
.mt-0{
  margin-top: 0px;
}