.my-custom-menu {
    --width: 500px;
  }
  ion-content {
    --background-color: #333;
    --ion-color-base : #eee !important;
  }
  ion-title{
  text-align: start;
  /* position: absolute; */
  /* left: 0px; */
  padding: 0px 60px 0px;
  }
  ion-menu-button{
    color: white;
  }
  .container{
    height: 600px;
  // margin: 0 0 60px;
 
  object-fit: contain;
  background: linear-gradient(90deg, rgba(255,33,100,1) 40%, rgba(253,164,84,1) 120%);
  }
  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  .header-container{
    position: fixed;
    padding: 20px 40px;
    width: 100%;
    z-index: 90;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .toggle-menu{
    height: 37px;
    width: 25px;
  }
  .notifications{
    width: 26px;
    height: 38px;
  }
.title{
  position: absolute;
    margin-left: 60px;
    color: #fff;
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 4px;
}
.slider{
  // padding-top: 80px;
}
ion-slides {
  --bullet-background: #eee;
  --bullet-background-active: #000;

  ion-slide {
    // margin: 50px;
    height: 220px ;
    // width: 99% !important;
    // margin-left: -8%;
    object-fit: contain;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 113px;
    &:nth-child(1) {
      //  margin-left: -26px;
    }

    &:nth-child(2) {
      // background-color: lightgreen;
    }

    &:last-child {
      // background-color: lightblue;
    }
  }
}
ion-grid{
  display: flex;
  align-self: flex-start;
  padding: 0px;
}
.date{
  background-color: #1d9bff;
  height: 50px;
  width: 106px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  display: flex;
    /* text-align: left; */
    justify-content: center;
    align-items: center;
}
ion-col{
  padding-left: 20px;
  padding-top: 0px;
}
.left-banner{
  display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: left;
}
.place{
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
  font-family: 'Montserrat-Medium';
  font-size: 15px;
}
.card-image{
  height: 265px;
    width: 211px;
    /* margin-bottom: -23px; */
    position: relative;
    bottom: 45px;
}
.card-text{
  margin: 5px 0px;
  font-size: 14px;
  font-family: 'Montserrat-Medium';
}
.card-header{
  margin-top: 32px !important;
  font-size: 21px;
}
.upcoming-event{
  background-color: #fff;
  height: 480px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
  margin-top: 80px;
  font-size: 18px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}
.button{
  border-radius: 5px;
  background-color: #ccc;
  height: 8px;
  margin: auto;
  width: 35px;
}
.upcoming-event-title{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #333;
  font-family: 'Montserrat-Bold';

}
.upcoming-event-banner{
  display: flex;
  align-items: end;
  background-repeat: no-repeat;
  height: 390px;
  background-size: cover;
  background-image: url('../../../assets/images/bg-upcoming-event.png');
  border-radius: 20px;
}
.divider{
  background-color: #eee;
  height: 20px;
}

.black-text{
  --color: black;
}
.upcoming-event-second-person{
  position: relative;
  right: 20px;
}
ion-card{


  border-radius: 15px;
  --background: #fff;

  ion-card-title{

      display: flex;
      flex-direction: row;
      place-items: center;
    
      
      h3{
        text-transform: none;
        font-weight: 600;
        margin-left: 10px;
        font-family: 'Montserrat-SemiBold';
        font-size: 15px;
        color: black;
      }
      img{
        width: 40px;
        height: auto;
        padding-top: 8px;
        border-radius: 50%;
      }
  }
  ion-card-subtitle{
    p{
      
    }
  }
.event-card-place{
  margin-left: 64px !important;
  margin: 0px;
  text-transform: capitalize;
}
.event-card{
  padding: 0px 17px;
}
  ion-card-content{
    .join-event{
      
      display: flex;
      flex-direction: row;
      place-items: center;

      .img-group{
      display: flex;
      flex-direction: row;
      place-items: center;
        img{
          width: 30px;
          margin-right: 10px;
          margin-left: 10px;
          border-radius: 20px;
      
        }
        .second-img{
          margin-left: -22px;
        }
        h2{
          font-weight: 600;
          font-size: 20px;
          color:black;
          font-family: 'Montserrat-Bold';
        }
      }

      

      .share{
        align-items: center;
        display: flex;
        flex-direction: row;
        /* float: right; */
        justify-content: flex-end;
        img{
          width: 9%;
          margin-right: 15px;
        }
        a{
          background-color: #e91e63;
          background-image: linear-gradient(to right, #e91e63, #ffff00ad);
          color: white;
          text-decoration: none;
          padding: 6px 32px 7px 32px;
          border-radius: 20px;
          letter-spacing: 0.8px;
          font-family: 'Montserrat-Bold';
          height: 33px;
        }
      }
    }
  }




  


}

 //Trending start
 .trending-header{
  font-family: 'Montserrat-Bold';
  /* margin-top: 10px; */
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: black;
}
 .trending{
  margin-top: 5% !important;
  background: white;
  
  ion-slides{
 
     ion-slide{
      height: auto !important;
      background-color: rgba(0, 0, 0, 0);
      background-color: none;
      margin: 0px !important;
      
   
   
  
      ion-card{
        box-shadow: none;
        border: 1px solid #eee;
        img{
          width: 270px;
        }
        ion-card-title{
          font-size: 14px;
          font-family: 'Montserrat-Bold';
          font-weight: 600;
          color: black;
        }
        ion-card-subtitle{
          text-align: left;
          font-family: 'Montserrat-Medium';
          font-size: 12px;
          color: black;
        }
        a{
          background-color: #e91e63;
          background-image: linear-gradient(to right, #e91e63, #ffff00ad);
          color: white;
          text-decoration: none;
          padding: 10px 30px 10px 30px;
          border-radius: 20px;
          position: absolute;
          margin-top: -41px;
    /* margin-right: -10px; */
          right: 12px;

        }
        ion-card-header{
    
          // border-bottom: 1px solid grey;
          // border-left:  1px solid grey;
          // border-right:  1px solid grey;

        }
      }
    }
  }


}
//Trending end


//post start
.post-logo{
  width: 54px !important;
  height: 44px;
}
.post-image{
  width: 100%;
}
.post{
  background: white;
  .post-header{
        align-items: center;
        display: flex;
        flex-direction: row;
        /* float: right; */
       
    
    img{
      width: 10%;
      border-radius: 100%;
      margin-right: 10px;
      padding-right: 10px;
    }
    h2{
      font-size: 16px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 1px;
      color: #000;
      font-family: 'Montserrat-SemiBold';
    }
   
  }

  ion-card{
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    border-radius: 0px;
    
      ion-card-content{
        
          font-size: 16px;
        
      }
   
   
  }

}

.views-container{
  background: white;
  padding-bottom: 100px;
  padding-top: 14px;
  b{
    color: #333;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    letter-spacing: .38px;
    margin-left: 12px;
    padding-right: 10px;
  }
  span{
    color: #858585;
    font-family: 'Montserrat-SemiBold';
    font-size: 18px;
  }
}
//post end
.mt-0{
  margin-top: 0px;
}

.text-black{
  color: #000;
}
.text-light-black{
  color: #020202;
}
.text-grey-light{
  color: #858585;
}
.m0{
  margin: 0 !important;
}