<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Archived</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Trash</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Spam</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content color="light" scrollEvents="true" (ionScroll)='onContentScroll($event)'>
    <div class="container">
      <div class="header-container" #header>
        <div class="header">
          <div><img src="/assets/icon/toggle-menu.svg" alt="" class="toggle-menu"></div>
          <div class="title">PARTY'S</div>
          <div><img src="/assets/icon/notification.svg" alt="" class="notifications"></div>
        </div>
      </div>

      <div class="party-grid">
        <div class="button"></div>
        <ion-row class="party-row" >
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/bjp.png" alt="" srcset="">
              </a>
              <h3>BJP</h3>
            </div>
          </ion-col>
          <ion-col>
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/shivsena.png" alt="" srcset="">
              </a>
              <h3>SHIVSENA</h3>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/jsd.png" alt="" srcset="">
              </a>
              <h3>JDS</h3>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="party-row">
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/ncp.png" alt="" srcset="">
              </a>
              <h3>NCP</h3>
            </div>
          </ion-col>
          <ion-col>
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/mns.png" alt="" srcset="">
              </a>
              <h3>MNS</h3>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/ins.png" alt="" srcset="">
              </a>
              <h3>INC</h3>
            </div>
          </ion-col>
        </ion-row>


        <ion-row class="party-row">
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/aap.png" alt="" srcset="">
              </a>
              <h3>AAP</h3>
            </div>
          </ion-col>
          <ion-col>
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/cpim.png" alt="" srcset="">
              </a>
              <h3>CPIM</h3>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/bsp.png" alt="" srcset="">
              </a>
              <h3>BSP</h3>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="party-row">
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/ncp2.png" alt="" srcset="">
              </a>
              <h3>NCP</h3>
            </div>
          </ion-col>
          <ion-col>
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/mim.png" alt="" srcset="">
              </a>
              <h3>AIMIM</h3>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/ysrc.png" alt="" srcset="">
              </a>
              <h3>YSRC</h3>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="party-row">
          <ion-col size="4">
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/sp.png" alt="" srcset="">
              </a>
              <h3>SP</h3>
            </div>
          </ion-col>
          <ion-col>
            <div class="party">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/images/partys/aitc.png" alt="" srcset="">
              </a>
              <h3>AITC</h3>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="party">
              
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-content>
</div>